.drag-map {
    position: absolute;
    z-index: 0;
    top: 50px;
    left: 25%;
    background-color: #def6fa;
    overflow-x: hidden;
    width: 75%;
    height: calc(100vh - 50px);
}

.map-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 7px #dee2e6 solid;
}

.map-label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.float-button-group {
    position: absolute;
    z-index: 1;
}