.map-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0%;
    width: 25%;
    height: calc(100vh - 50px);    
}

.view {
    cursor: pointer;
    padding: .6rem;
    border-radius: .5rem 0 0 .5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border: 1px solid #dee2e6;
}

.view:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

.map-active {
    background: #def6fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

.location-card {
    width: 20rem;
}

.location-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}